.popupimage {
    width: 80px;
}

.ulmodal {
    list-style: none; /* Remove default bullets */
}

.ulmodal .limodal::before {
    content: "\2022" !important; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #39ac49 !important; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.intro1 {
    font-family: bebas;
    color: #39ac49;
    text-transform: uppercase;
}